@import "variables.scss";

/* special typography */

.button {
	@include rounded(2px);	
	text-transform: uppercase;
	background: $primarycolor;
	color:#fff;
	padding: 7px 15px;
	position: relative;
	border:none;
	top: 0;
	left: 0;
	vertical-align: middle;
	margin: 0;
	line-height: 100%;
	cursor: pointer;
	width: auto;
	overflow: visible;
	font-weight: normal;
	text-decoration: none;
	vertical-align: middle;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: inline-block;
	zoom: 1;
	&:hover {
		background: $secondarycolor;
	}
}