ul.resp-tabs-list {
    margin: 0px;
    padding: 0px;
    li {
        font-weight: 700;
        display: inline-block;
        padding: 13px 15px;
        margin: 0 20px 0 0;
        list-style: none;
        cursor: pointer;
        float: left; 
    }
    h3 {
        margin: 0px;
        padding: 0px 0;
        font-size: 1em;
    }
}

.resp-tabs-container {
    padding: 0px;
    clear: left;
}

h2.resp-accordion {
    cursor: pointer;
    padding: 5px;
    display: none;
    font-size: 13px;
    border-top: 0px solid #e2e2e2;
    margin: 0px;
    padding: 10px 20px;
}

.resp-tab-content {
    display: none;
    padding: 30px 0;
}

.resp-tab-item {
    background: $primarylightcolor;
    @include rounded(3px);
    &.resp-tab-active {
        border-bottom: none;
        margin-bottom: -4px !important;
        background: $primarycolor;
        color: #fff;

    }
}

.resp-content-active, .resp-accordion-active {
    display: block;
}

h2.resp-tab-active {
    border-bottom: 0px solid #e2e2e2 !important;
    margin-bottom: 0px !important;
    padding: 10px 20px !important;
}

h2.resp-tab-title:last-child {
    border-bottom: 12px solid #e2e2e2 !important;
    background: blue;
}

/*-----------Accordion styles-----------*/
h2.resp-tab-active {
    background: #DBDBDB !important;
}
.resp-easy-accordion  h2.resp-accordion {
        display: block;
}
.resp-easy-accordion .resp-tab-content {
    border: 1px solid #e2e2e2;
}

.resp-easy-accordion .resp-tab-content:last-child {
    border-bottom: 1px solid #e2e2e2 !important;
}

.resp-jfit {
    width: 100%;
    margin: 0px;
}

.resp-tab-content-active {
    display: block;
}

h2.resp-accordion:first-child {
}

/*Here your can change the breakpoint to set the accordion, when screen resolution changed*/
@media only screen and (max-width: 768px) {
    ul.resp-tabs-list {
        display: none;
    }
    
	.resp-tabs-container h3 {
		margin: 0;
		padding: 10px;
	}

    h2.resp-accordion {
        display: block;
        margin: 0;
        padding: 0;
    }
  
    h2.resp-tab-active {
        padding: 0 !important;
    }

    .resp-vtabs .resp-tab-content {
    }

    .resp-vtabs .resp-tabs-container {
        border: none;
        float: none;
        width: 100%;
        min-height: initial;
        clear: none;
    }
    .resp-accordion-closed {
        display:none !important;
    }
    .resp-vtabs .resp-tab-content:last-child {
    }
}
