a {
	color: $primarycolor;
	&:hover {
		color: $primarycolor;
	}
}

h1, h2, h3, h4, h5, h6, p, pre, blockquote, dl, address{ 
	margin: .7em 0;
	padding: 0; 
	line-height:163%;
}

h1, h2,h3,h4,h5,h6 {
	font-family: $boldfont;
}

h1 {font-size: 2em ;}
h2 {font-size: 1.8em;}
h3 {font-size: 1.6em;}
h4 {font-size: 1.4em;}
h5 {font-size: 1.2em;}
h6 {font-size: 1em;}

body {
	margin:0 auto;padding:0;
	font-family: $primaryfont;
	font-style: normal;
	font-weight: $primaryfontweight;
<<<<<<< HEAD
	color: #333;
=======
	color: #444;
>>>>>>> ddbfd9ae6876e29b3e68b730d96cbf98c3d0f63d
	background: $secondarycolor;
	-webkit-font-smoothing: antialiased;
}

blockquote {
	padding: 2px 20px; 
	margin: 5px 30px;
	border-left: 1px dotted #ccc;
}

a {color: $primarycolor;text-decoration: none;}
a:hover {color: $secondarycolor;}

em, i {font-style: italic;}
strong, b { font-weight: $boldfontweight;}

ul {
	margin: 0;
	padding: 0;
}

.page-content {
	ul,ol {
		margin-left: 30px;
	}
}