@import "variables.scss";

.pin {
  width: 100%;
  z-index: 999999;
}

.pinned {
  position: fixed !important;
    .no-text a {
		margin: 25px auto;
		text-indent: 100%;
		white-space: nowrap;
		overflow: hidden;
		background: url(../images/logo-small-nav.png) no-repeat;
		width: 43px;
		height: 61px;
		display: block;
	}
}

/* Page Layout */

.wide-container {
	width: 100%;
	background: $canvascolor;
	&.header-wide {
		background: $canvascolor;
	}
	&.footer-wide {
		background: $canvascolor;
	}	
}

/*  page layout */

.page-content {
	p {
		margin: .7em 0;
	}
	ul {
		li {
			list-style: disc;
			padding: 0 15px;			
		}
	}
	ol {
		li {
			list-style: decimal;
			padding: 0 15px;						
		}
	}	
}
