@media only screen and (max-width: 768px) {

	.mobilehide {
		display: none;
	}

	// centere the logo
	.siteid h1 {
		margin: 0 auto;
	}

	.hope a {
		margin: 10px auto 0 auto;
	}
	p.showhope {
		text-align: center;
		margin-top: 0;
	}

	// adjust the nav for smaller screens
	.nav ul {
		li {
			width: 50%;
			float: left;
			&.on {
				a {
					background: none;
					color: $secondarycolor;
				}
			}
			a {
				display: block;
			}
		}
	}

	// add a little space between the buttons
	.action {
		li {
			margin-bottom: 10px;
		}
	}

	// add a little space between the circles
	.circleBlocks {
		.block-content {
			margin-bottom: 20px;
		}
	}

	// let's pretty up the news
	.article {
		h4,
		.date {
			text-align: center;
		}
		margin-bottom: 30px;
	}

	// footer 
	.footer-section {
		text-align: center;
		margin-bottom: 30px;
	}

	ul.social-menu {
		text-align: center;
	}
	
		

}