@import "variables.scss";

.pagination {
	float:left;
	width: 100%;
	ul {
		list-style: none;
		margin: 2em auto;
		padding: 0;
		text-align: center;
		color: #555555;
		font-size: 90%;
		li {
			display: inline;
		}
		a {
			&.page-numbers {
				background-color: $primarylightcolor;
				margin: 2px;
				padding: 5px 10px;
				display: inline-block;
				@include rounded(4px);
				font-weight: 700;
			}
			&:hover {
				background: $primarycolor;
				color: #fff;
			}
		}
		span {
			&.current {
				background: $primarycolor;
				color: #fff;
				display: inline-block;
				padding: 5px 10px;							
				@include rounded(4px);
			}
		}
	}
}

