/*! Pushy - v0.9.1 - 2013-9-16
* Pushy is a responsive off-canvas navigation menu using CSS transforms & transitions.
* https://github.com/christophery/pushy/
* by Christopher Yee */

/* Menu Appearance */

#container {
	z-index: 9999;
}


.pushy{
    position: fixed;
    width: 200px;
    height: 100%;
    top: 0;
    z-index: 9999;
    background: url(../images/bg_pushy.png) no-repeat center bottom $primarycolor;
    font-size: 1em;
    font-weight: bold;
    -webkit-box-shadow: inset -10px 0 6px -9px rgba(0, 0, 0, .7);
    -moz-box-shadow: inset -10px 0 6px -9px rgba(0, 0, 0, .7);
    box-shadow: inset -10px 0 6px -9px rgba(0, 0, 0, .7);
    overflow: auto;
    -webkit-overflow-scrolling: touch; /* enables momentum scrolling in iOS overflow elements */
    ul {
	    padding: 20px;
	    font-weight: 600;
	    text-transform: uppercase;
		list-style: none;
	    &.sub-menu {
		    padding: 0;
		    font-weight: 300;
		    text-transform: capitalize;
		    li {
			    margin-top: 0;
		    }
	    }
	    li {
		    list-style: none;
		    display: block;
		    &.menu-item-has-children {
			    margin: 20px 0;
			    padding-top: 20px;
			    border-top: 2px solid #fff;
		    }
	    }
    }
    a {
	    display: block;
	    color: #fff;
		line-height: 160%;
		text-decoration: none;
		&:hover {
			background: none;
			color: #ccc;
		}
    }
}

.pushy-right{
    right: 0;
    -webkit-transform: translate3d(200px,0,0);
    -moz-transform: translate3d(200px,0,0);
    -ms-transform: translate3d(200px,0,0);
    -o-transform: translate3d(200px,0,0);
    transform: translate3d(200px,0,0);
}

.pushy-left{
	right:0;
    -webkit-transform: translate3d(200px,0,0);
    -moz-transform: translate3d(200px,0,0);
    -ms-transform: translate3d(200px,0,0);
    -o-transform: translate3d(200px,0,0);
    transform: translate3d(200px,0,0);
}

.pushy-open{
	right: 0;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.container-push, .push-push{
    -webkit-transform: translate3d(-200px,0,0);
    -moz-transform: translate3d(-200px,0,0);
    -ms-transform: translate3d(-200px,0,0);
    -o-transform: translate3d(-200px,0,0);
    transform: translate3d(-200px,0,0);
}

/* Menu Transitions */

.pushy, #container, .push{
    -webkit-transition: -webkit-transform .2s cubic-bezier(.16, .68, .43, .99);
    -moz-transition: -moz-transform .2s cubic-bezier(.16, .68, .43, .99);
    -o-transition: -o-transform .2s cubic-bezier(.16, .68, .43, .99);
    transition: transform .2s cubic-bezier(.16, .68, .43, .99);
    /* improves performance issues on mobile*/
    //-webkit-backface-visibility: hidden;
    //-webkit-perspective: 1000;
}

/* Site Overlay */

.site-overlay{
    display: none;
   
}

.pushy-active .site-overlay{
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 200px;    
    z-index: 99999;
}

/* Example Media Query */

@media screen and (max-width: 768px){
    .pushy{
        font-size: 1.0em;
    }
}