.pin {
  width: 100%;
  z-index: 999999; }

.pinned {
  position: fixed !important; }
  .pinned .no-text a {
    margin: 25px auto;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    background: url(../images/logo-small-nav.png) no-repeat;
    width: 43px;
    height: 61px;
    display: block; }

/* Page Layout */
.wide-container {
  width: 100%;
  background: white; }
  .wide-container.header-wide {
    background: white; }
  .wide-container.footer-wide {
    background: white; }

/*  page layout */
.page-content p {
  margin: .7em 0; }
.page-content ul li {
  list-style: disc;
  padding: 0 15px; }
.page-content ol li {
  list-style: decimal;
  padding: 0 15px; }
