.nav {
  position: relative;
  margin: 20px 0; }
  .nav ul {
    margin: 0;
    padding: 0;
    text-align: center; }
    .nav ul li {
      margin: 0;
      padding: 0 5px 10px 0;
      list-style: none;
      display: inline-block; }
      .nav ul li a {
        padding: 3px 12px;
        text-decoration: none;
        line-height: 100%; }
        .nav ul li a:hover {
          background: #ccc; }
      .nav ul li.current a {
        background: #ccc; }
