a {
  color: #0099cc; }
  a:hover {
    color: #0099cc; }

h1, h2, h3, h4, h5, h6 {
  font-weight: bold; }

h1 {
  font-size: 2em; }

h2 {
  font-size: 1.8em; }

h3 {
  font-size: 1.6em; }

h4 {
  font-size: 1.4em; }

h5 {
  font-size: 1.2em; }

h6 {
  font-size: 1em; }

fieldset {
  border: none; }

input#search {
  width: 100%;
  margin-bottom: 10px; }

.pin {
  width: 100%;
  z-index: 999999; }

.pinned {
  position: fixed !important; }
  .pinned .no-text a {
    margin: 25px auto;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    background: url(../images/logo-small-nav.png) no-repeat;
    width: 43px;
    height: 61px;
    display: block; }

/* Page Layout */
.wide-container {
  width: 100%;
  background: white; }
  .wide-container.header-wide {
    background: white; }
  .wide-container.footer-wide {
    background: white; }
  .wide-container.parasample {
    background: url(../images/paralax-sample.jpg);
    padding: 40px 0; }
  .wide-container.parallax {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    background-attachment: fixed; }

.pagination {
  float: left;
  width: 100%; }
  .pagination ul {
    list-style: none;
    margin: 2em auto;
    padding: 0;
    text-align: center;
    color: #555555;
    font-size: 90%; }
    .pagination ul li {
      display: inline; }
    .pagination ul a.page-numbers {
      background-color: #eeeeee;
      margin: 2px;
      padding: 5px 10px;
      display: inline-block;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      font-weight: 700; }
    .pagination ul a:hover {
      background: #0099cc;
      color: #fff; }
    .pagination ul span.current {
      background: #0099cc;
      color: #fff;
      display: inline-block;
      padding: 5px 10px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px; }

/* Nav */
.nav {
  position: relative;
  margin: 20px 0; }
  .nav ul {
    margin: 0;
    padding: 0;
    text-align: center; }
    .nav ul li {
      margin: 0;
      padding: 0 5px 10px 0;
      list-style: none;
      display: inline-block; }
      .nav ul li a {
        padding: 3px 12px;
        text-decoration: none;
        line-height: 100%; }
        .nav ul li a:hover {
          background: #ccc; }
      .nav ul li.current a {
        background: #ccc; }

/*  page layout */
.page-content p {
  margin: .7em 0; }
.page-content ul li {
  list-style: disc;
  padding: 0 15px; }
.page-content ol li {
  list-style: decimal;
  padding: 0 15px; }

/* wordpress image styles */
img.alignright {
  float: right;
  margin: 0 0 1em 1em; }

img.alignleft {
  float: left;
  margin: 0 1em 1em 0; }

img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto; }

a img.alignright {
  float: right;
  margin: 0 0 1em 1em; }

a img.alignleft {
  float: left;
  margin: 0 1em 1em 0; }

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto; }

/* special typography */
.button {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  text-transform: uppercase;
  background: #0099cc;
  color: #fff;
  padding: 7px 15px;
  position: relative;
  border: none;
  top: 0;
  left: 0;
  vertical-align: middle;
  margin: 0;
  line-height: 100%;
  cursor: pointer;
  width: auto;
  overflow: visible;
  font-weight: normal;
  text-decoration: none;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  zoom: 1; }
  .button:hover {
    background: #6600cc; }
