/* line 6, ../sass/theme.scss */
a {
  color: "#0083AB";
}
/* line 8, ../sass/theme.scss */
a:hover {
  color: "#0083AB";
}

/* line 13, ../sass/theme.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

/* line 17, ../sass/theme.scss */
h1 {
  font-size: 2em;
}

/* line 18, ../sass/theme.scss */
h2 {
  font-size: 1.8em;
}

/* line 19, ../sass/theme.scss */
h3 {
  font-size: 1.6em;
}

/* line 20, ../sass/theme.scss */
h4 {
  font-size: 1.4em;
}

/* line 21, ../sass/theme.scss */
h5 {
  font-size: 1.2em;
}

/* line 22, ../sass/theme.scss */
h6 {
  font-size: 1em;
}

/* Page Layout */
/* line 27, ../sass/theme.scss */
.wide-container {
  width: 100%;
  background: #fff;
}
/* line 30, ../sass/theme.scss */
.wide-container.header-wide {
  background: #eeeeee;
}
/* line 33, ../sass/theme.scss */
.wide-container.footer-wide {
  background: #eeeeee;
}

/* Nav */
/* line 40, ../sass/theme.scss */
.nav {
  position: relative;
  margin: 20px 0;
}
/* line 43, ../sass/theme.scss */
.nav ul {
  margin: 0;
  padding: 0;
  text-align: center;
}
/* line 47, ../sass/theme.scss */
.nav ul li {
  margin: 0;
  padding: 0 5px 10px 0;
  list-style: none;
  display: inline-block;
}
/* line 52, ../sass/theme.scss */
.nav ul li a {
  padding: 3px 12px;
  text-decoration: none;
  line-height: 100%;
}
/* line 56, ../sass/theme.scss */
.nav ul li a:hover {
  background: #ccc;
}
/* line 61, ../sass/theme.scss */
.nav ul li.current a {
  background: #ccc;
}

/*  page layout */
/* line 72, ../sass/theme.scss */
.page-content p {
  margin: .7em 0;
}
/* line 76, ../sass/theme.scss */
.page-content ul li {
  list-style: decimal;
}
/* line 81, ../sass/theme.scss */
.page-content ol li {
  list-style: decimal;
}

/* wordpress image styles */
/* line 89, ../sass/theme.scss */
img.alignright {
  float: right;
  margin: 0 0 1em 1em;
}

/* line 90, ../sass/theme.scss */
img.alignleft {
  float: left;
  margin: 0 1em 1em 0;
}

/* line 91, ../sass/theme.scss */
img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* line 92, ../sass/theme.scss */
a img.alignright {
  float: right;
  margin: 0 0 1em 1em;
}

/* line 93, ../sass/theme.scss */
a img.alignleft {
  float: left;
  margin: 0 1em 1em 0;
}

/* line 94, ../sass/theme.scss */
a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* special typography */
/* line 98, ../sass/theme.scss */
.button {
  position: relative;
  top: 0;
  left: 0;
  vertical-align: middle;
  margin: 0;
  padding: 10px 15px;
  line-height: 100%;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer;
  width: auto;
  overflow: visible;
  font-weight: normal;
  font-size: 14px;
  text-shadow: 0 1px 0 #fff;
  color: #666;
  text-decoration: none;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  zoom: 1;
  border: 1px solid #ccc;
  background: "#0083AB";
}
/* line 125, ../sass/theme.scss */
.button.medium {
  padding: 5px 10px;
}
/* line 128, ../sass/theme.scss */
.button.small {
  padding: 2px 5px;
}
/* line 131, ../sass/theme.scss */
.button:hover {
  background: #ccc;
}
/* line 134, ../sass/theme.scss */
.button.dark {
  background: "#0083AB";
  color: #ccc;
}
/* line 137, ../sass/theme.scss */
.button.dark:hover {
  background: #444;
}
